.results-region {
    padding: 1.5rem;
    color: gray;
}

.graphs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphs p {
    color: black;
    margin: 1rem;
    font-style: oblique;
}

@media only screen and (max-width: 600px) {
    .graphs {
        scale: 0.7;
    }
    .graphs p {
        scale: 1.2;
    }
}
