.about-container {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.divider-black {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: black;
    width: 100%;
    height: 5rem;
}

.divider-black h3 {
    color: whitesmoke;
}

.contact-container {
    margin: 5rem;
}

.message-end {
    color: gray;
    font-size: 0.8rem;
}

/* mobile optimisations */
@media only screen and (max-width: 600px) {
    #inputEmail {
        max-width: fit-content;
    }
    #inputQuery {
        max-width: fit-content;
        width: inherit;
    }

    .contact-container {
        margin: 5rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }
}
