.tsa-title-container {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.dot {
    color: whitesmoke;
}

.divider-black {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1vw;
    margin-bottom: 1vw; */
    padding: 0;
    background-color: black;
    width: 100%;
    height: 5rem;
}

.divider-black h3 {
    color: whitesmoke;
}

.home-container img {
    max-width: 100%;
    height: auto;
}

.img-title {
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: black;
    font-size: 1rem;
    border: 2px solid whitesmoke;
    /* border-radius: 10px; */
}

.img-title:hover {
    color: black;
    background-color: aliceblue;
}

.features-set {
    margin: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.homepage-img {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    /* align-items: center; */
}

.homepage-img img {
    height: 10rem;
    width: 10rem;
}

/* mobile optimisation */
@media only screen and (max-width: 600px) {
    .features-set {
        flex-direction: column;
    }
}