
/**
.login-container {
    height: 100vw;
    background-image: url(/Users/joy/Documents/GitHub/trendsentimentanalysis/tsa/src/media/images/login-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

**/
