.container-tsa {
    margin: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-tsa p {
    color: gray;
}

.search-bar {
    /*  */
}

.search-bar input {
    box-sizing: border-box;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    margin: 1rem;
    padding: 10px;
    border-radius: 15px;
    width: 450px;
    /* max-width: auto; */
    font-size: 14px;
}

.search-bar button {
    background: #f2f2f2;
    border: none;
    margin: 0;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.search-bar button:hover {
    background: #e9e9e9;
}

.results-region {
    margin: 5rem;
    padding: 1.5rem;
    color: gray;
}

.graphs img {
    margin: 1rem;
    background: no-repeat;
    background-size: contain;
    height: 100%;
}