.container-tsa {
    margin-top: 10rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-tsa p {
    color: gray;
}

/* search bar container */
.search-bar input {
    box-sizing: border-box;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    margin: 1rem;
    padding: 10px;
    border-radius: 15px;
    width: 450px;
    /* max-width: auto; */
    font-size: 14px;
}

.search-bar button {
    background: #f2f2f2;
    border: none;
    margin: 0;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.search-bar button:hover {
    background: #e9e9e9;
}


/* customise report menu */
.customise-menu p {
    margin-top: 2rem;
    color: gray;
}

.customise-menu label {
    margin: 0.5rem;
    font-size: 13px;
}

.custom-check {
    height: 0.7rem;
    width: 0.7rem;
    background-color: #eee;
}

.custom-check:after {
    background-color: gray;
}


.menu-btns {
    margin: 1rem
}

.menu-btns button {
    margin: 1rem;
    background: #f2f2f2;
    border: none;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8rem;
}

.customise-menu button:hover {
    background: #e9e9e9;
}