.container-xp {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar p {
    margin-bottom: 0.5rem;
    color: gray;
}

/* search bar container */
.search-bar input {
    box-sizing: border-box;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    margin: 1rem;
    padding: 10px;
    border-radius: 15px;
    width: 450px;
    /* max-width: auto; */
    font-size: 14px;
}

.search-bar button {
    background: #f2f2f2;
    border: none;
    margin: 0;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.search-bar button:hover {
    background: #e9e9e9;
}

.poetry-output {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.display-result {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.search-heading {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: gray;
}
.search-heading p {
    margin-top: -1rem;
}

/* mobile optimisations */
@media only screen and (max-width: 600px) {
    #inputSentence {
        max-width: fit-content;
    }
    
    #inputPoemStart {
        max-width: fit-content;
    }

    .poetry-container h1 {
        font-size: 0.9rem;
    }
}